<!DOCTYPE html>
<html lang="es">

<%- include('../partials/Head') %>

<body>

    <%- include('../partials/Header') %>

    <main class="visualPrimaria">

        <!-- *SEGUIR RIKI RIKI* -->
        <% for( let i = 0; i < listaDeProductos.length; i++ ) { %>

            <% let orientacionContenedor = 'contenedorCervezaIzquierda' %>
            <% let orientacionImagen = 'contenedorImagenProductoIzquierda' %>
            <% let orientacionDescripcion = 'descripcionProductoIzquierda' %>

            <% if( i % 2 !== 0 ) { %>

                <% orientacionContenedor = 'contenedorCervezaDerecha' %>
                <% orientacionImagen = 'contenedorImagenProductoDerecha' %>
                <% orientacionDescripcion = 'descripcionProductoDerecha' %>

            <% } %>

        <a name="<%= listaDeProductos[i].ancla %>"></a>

        <article class="<%= orientacionContenedor %>">

            <% if( i % 2 !== 0 ) { %>

            <div class="<%= orientacionDescripcion %>">

                <h2 class="nombreCerveza"><%=listaDeProductos[i].nombre%></h2>

                <h3 class="tipoCerveza"><%=listaDeProductos[i].tipo%></h3>

                <div class="parrafoDescripcionProducto">
                    <p class="parrafo"><%=listaDeProductos[i].descripcion%></p>
                    <p class="parrafo"><span class="tituloParrafos">Aroma: </span>
                        <%=listaDeProductos[i].aroma%></p>
                    <p class="parrafo"><span class="tituloParrafos">Sabor: </span>
                        <%=listaDeProductos[i].sabor%>
                    </p>
                </div>

                <div class="footerDescripcionProducto">
                    <button class="infoIBUAlcohol"><%=listaDeProductos[i].ibu%> IBU</button>
                    <button class="infoIBUAlcohol"><%=listaDeProductos[i].abv%> ABV</button>
                    <a class="addToCard" href="/addtocart/<%= listaDeProductos[i].id %>">Añadir al Carrito</a>
                </div>

            </div>

            <div class="<%= orientacionImagen %>">
                <img class="imagenProducto" src="images/productos/<%= listaDeProductos[i].imagen %>">
            </div>

            <% } else { %>

            <div class="<%= orientacionImagen %>">
                <img class="imagenProducto" src="images/productos/<%= listaDeProductos[i].imagen %>">
            </div>

            <div class="<%= orientacionDescripcion %>">

                <h2 class="nombreCerveza"><%=listaDeProductos[i].nombre%></h2>

                <h3 class="tipoCerveza"><%=listaDeProductos[i].tipo%></h3>

                <div class="parrafoDescripcionProducto">
                    <p class="parrafo"><%=listaDeProductos[i].descripcion%></p>
                    <p class="parrafo"><span class="tituloParrafos">Aroma: </span>
                        <%=listaDeProductos[i].aroma%></p>
                    <p class="parrafo"><span class="tituloParrafos">Sabor: </span>
                        <%=listaDeProductos[i].sabor%>
                    </p>
                </div>

                <div class="footerDescripcionProducto">
                    <button class="infoIBUAlcohol"><%=listaDeProductos[i].ibu%> IBU</button>
                    <button class="infoIBUAlcohol"><%=listaDeProductos[i].abv%> ABV</button>
                    <a class="addToCard" href="/addtocart/<%= listaDeProductos[i].id %>">Añadir al Carrito</a>
                </div>

            </div>

            <% } %>

        </article>

        <% } %>

    </main>

    <%- include('../partials/Footer') %>

</body>

</html>