<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include('./partials/Head') %>

<body>

    <%- include('./partials/Header') %>

    <main class="visualPrimaria">

        <section class="logoPrincipal">

            <div class="contenedorLogoPrincipal">
                <img class="logoBeerVaderPrincipal" src="images/logos/logo.png" alt="">
            </div>

        </section>

        <section class="productosPrincipal">

            <div class="grupoLatas1">

                <% for( let i = 0; i < listaDeProductos.length; i++ ) { %>

                <a class="linkProductoPrincipal" href="/productos#<%= listaDeProductos[i].ancla %> ">
                    <img class="imgProductoPrincipal" src="images/productos/<%= listaDeProductos[i].imagen %>">
                </a>

                <% } %>
                
            </div>

        </section>

    </main>

    <%- include('./partials/Footer') %>

</body>
</html>
