<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/Head') %>
    
<body>
</header>


<body>

    <%- include('../partials/Header') %>

    <main class="contenedor">

        <section class="columnaIzquierda">

            <img src="/images/productos/<%= producto.imagen %>">

        </section>

        <section class="columnaDerecha">

            <div class="titulos">
                <h2 class="titulo"><%= producto.nombre %> <%= producto.tipo %></h2>
                <h2 class="titulo amarillo">$ <%= producto.precio %></h2>
            </div>

            <p class="descripcionProducto"><%= producto.descripcion %></p>

            <div class="selectorCantidad">
                <label for="cantidadItemCarrito">Cantidad</label>
                <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <!-- <input id="btnComprar" type="button" name="btnComprar" value="Comprar" class="btnComprar" /> -->
            <a class="btnComprar" href="/checkout">Comprar</a>

        </section>


    </main>

    <%- include('../partials/Footer') %>


</body>

</html>